table {
    border-collapse: collapse;
}

td {
    border:1px solid #29bb63cc
}

th {
    border: 1px solid #8e6ee7cc;
    background: #e67a7acc;
    color: cadetblue;
}

td,th {
    text-align: center;
    padding: 0.5em;
}